#majorcity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    width: 100%;
    height: 600px;
}
#majorcity::before{
    background-color: rgb(246, 244, 244);
    content: "";
    position: absolute;
    top: 570px;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
    opacity: 0.8;
}
.citylogo{
    display: flex;
}
.citys{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    /* border: 3px solid black; */
    margin: 20px;
    box-shadow: 0px 0px 25px black;
}
.citys:hover{
    cursor: pointer;
}
